$bgColor1: hsl(156, 64%, 91%);
$bgColor2: hsl(156, 64%, 50%);

$textColor1: hsl(0, 10%, 0%);
$textColor2: hsl(0, 10%, 40%);

$fs-800: 24px;
$fs-600: 20px;
$fs-400: 16px;

@import 'reset';

@mixin link($fSize, $color) {
  text-transform: uppercase;
  font-size: $fSize;
  color: $color;
  transform: scale(1);
  transition: transform 1000ms;
  &:hover,
  &:focus-visible {
    transform: scale(1.5);
    outline: transparent;
    transition: transform 1000ms;
  }
}

header {
  padding: 50px 50px;
  background-color: $bgColor1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    text-align: center;
    @include link(40px, $textColor1);
  }

  nav {
    display: flex;
    justify-content: space-between;
    a {
      // padding: 0;
      // margin: 0;
      @include link(20px, $textColor1);
    }
  }
}

@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
    a {
      text-align: end;
    }
    nav {
      a {
        display: block;
      }
    }
  }
}

nav {
  display: flex;
  margin: 20px 50px;
  a {
    margin-left: 50px;
    @include link(20px, $textColor1);
    &.red {
      font-weight: 800;
    }
  }
  &.navManga {
    margin: 0;
    padding: 20px;
    border-top: 5px solid gold;
    background-color: $bgColor1;
  }
}

footer {
  padding: 50px 0;
  background-color: $bgColor1;
  small {
    font-size: 15px;
    text-align: center;
  }
}

body {
  background: $bgColor2;
  scroll-behavior: smooth;
}

main {
  margin: 50px auto;
  max-width: 1900px;
  min-height: 65vh;
  h2,
  h3 {
    color: $textColor1;
    font-size: $fs-800;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    margin-top: 10px;
    font-weight: 800;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h4,
  input,
  button {
    color: $textColor1;
    font-size: $fs-800;
    border-radius: 20px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    margin-top: 10px;
    font-weight: 800;
    flex-basis: 100%;
  }
  &.mainHomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 50px;

      line-height: 2;
    }
    p {
      font-size: 20px;

      line-height: 1.5;
    }
  }
  &.BookMorePage {
    margin: 0 auto 50px;

    img {
      margin: 0 auto;
      width: 100%;
      aspect-ratio: 16/9;
    }
    h2 {
      font-size: 30px;
      text-align: center;
      line-height: 2;
    }
    h3 {
      font-size: 25px;
      text-align: center;
      line-height: 2;
    }
    h4 {
      font-size: 20px;
      text-align: center;
      line-height: 1.5;
    }
    h5 {
      font-size: 20px;
      text-align: center;
      line-height: 1.5;
    }
  }
  &.mainManga {
    margin: 0 auto;
    padding: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: 0 auto;
      width: 50%;
      aspect-ratio: 16/9;
    }
  }
  &.manga {
    display: flex;
    margin: 0 auto;

    nav {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 30px;
      flex-basis: 25%;
      align-items: center;

      a {
        margin: 0;
        @include link(20px, $textColor1);
        &.red {
          font-weight: 800;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        a {
          margin: 0;
          margin-bottom: 10px;
          @include link(20px, $textColor1);
          &.red {
            font-weight: 800 !important;
          }
        }
      }
      section.manga {
        background-color: blue;
        flex-basis: 70%;
      }
    }
  }
  &.another {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  img {
    margin: 0 auto;
    width: 50%;
    aspect-ratio: 16/9;
  }
}

@media screen and (min-width: 1050px) {
  main {
    section {
      flex-direction: row;
    }

    h4,
    input,
    button {
      text-align: center;
      flex-basis: 30%;
    }
  }
}

section.headerPage1 {
  margin: 50px 0;
  h2 {
    font-size: 30px;
    text-align: center;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  border: 5px solid $bgColor1;
  background-color: transparent;
  border-radius: 20px;
  color: $textColor1;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  transition: color 1000ms, border-color 1000ms;
  &:focus-visible,
  &:hover {
    border-color: $bgColor1;
    outline: transparent;
    transition: color 1000ms, border-color 1000ms;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: $bgColor1;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    opacity: 0;
    transform: scale(1);
    transition: transform 1000ms, opacity 1000ms;
  }
  &:focus-visible::before,
  &:hover::before {
    transform: scale(20);
    opacity: 1;
    transition: transform 1000ms, opacity 500ms;
  }
}

.button1 {
  flex-basis: 100%;
  &::before {
    content: '';
    transition: transform 1500ms, opacity 2000ms;
  }
  &:focus-visible::before,
  &:hover::before {
    transition: transform 2000ms, opacity 1000ms;
  }
}

.Bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 50px;
  max-width: 1900px;
  margin: 0 auto;
  gap: 20px;
}

.Book {
  background-color: $bgColor1;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  border-radius: 20px;
  overflow: hidden;
  flex-basis: 95%;
  transform: scale(1);
  transition: transform 500ms;

  &:hover {
    transform: scale(1.2);
    z-index: 99;
    transition: transform 500ms;
  }

  img {
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16/9;
  }

  h4 {
    color: $textColor1;
    font-size: $fs-800;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    margin-top: 10px;
    padding: 0 10px;
    font-weight: 800;
  }
  h5 {
    color: $textColor1;
    font-size: $fs-600;
    padding: 0 10px;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    margin-top: 10px;
    font-weight: 600;
  }
  h6 {
    color: $textColor2;
    font-size: $fs-400;
    text-align: center;
    margin-top: 10px;
    line-height: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
}

@media screen and (min-width: 790px) {
  .Book {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 1170px) {
  .Book {
    flex-basis: 30%;
  }
}
